* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/notebook1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main--login__container {
    background-image: linear-gradient(45deg, #c8b8b3, #b49445e8);
    width: 50%;
    min-height: 30%;
    padding: 2rem;
    border-radius: 6px;
}

.login--form__box {
    margin: auto;
    width: 70%;
}

.top--box__header h2 {
    margin-top: 10px;
}

.align__item {
    margin-bottom: 15px;
}

input {
    width: 80%;
    height: 35px;
    padding: 10px;
    border-radius: 25px;
}

.icon__align {
    margin: 0 0 20px -30px;
}

.input--submit__field button {
    width: 18%;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    text-transform: uppercase;
}